#main{
    background-image: url("images/Main-Image.jpg");
    background-size: cover;
}

#name{

    color: rgb(156, 0, 0);
    font-size: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 3px solid rgb(156, 0, 0);
    background-color: wheat;
}

#logo{
    width: 6%;
    height: auto;
    border: 2px solid white;
}